# Default ignored files
/../../factor_analyzer /.idea/shelf/
/../../factor_analyzer /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../factor_analyzer /.idea/httpRequests/
# Datasource local storage ignored files
/../../factor_analyzer /.idea/dataSources/
/../../factor_analyzer /.idea/dataSources.local.xml
